<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/js/feather.min.js"></script>
<script>
  feather.replace();
</script>
<script src="/js/theme.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
</body>

<!-- не работает <script type="text/javascript" src="/js/orphus.js"></script> -->
<script async defer data-website-id="13b01ee7-901d-4bb4-a4aa-ddbfe01a4034" src="https://stat.7lf.me/umami.js"></script>

</html>