    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/js/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script src="/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <script defer src="https://stat.7lf.me/script.js" data-website-id="5e727981-011b-4a5c-b37e-34a074c39bbd"></script></html>
  </body>
