<!DOCTYPE html>
<html lang="ru-RU">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Гражданская наука. Полезное хобби. Помощь учёным.</title>

    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link href="/css/theme.min.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
  </head>
  <body>