<nav
  class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block navbar-klean"
  data-navbar-on-scroll="data-navbar-on-scroll"
>
  <div class="container">
    <a class="navbar-brand d-flex align-items-center fw-semi-bold fs-3" href="index.html">
      <img src="/img/cs.svg" alt="Лого гражданской науки" width="60px" height="60px" />
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto pt-2 pt-lg-0 font-base">
        <li class="nav-item px-2" data-anchor="data-anchor">
          <a class="nav-link fw-medium active" aria-current="page" href="/">Главная</a>
        </li>
        <li class="nav-item px-2" data-anchor="data-anchor">
          <a class="nav-link fw-medium active" aria-current="page" href="/sponsors">Спонсоры</a>
        </li>
        <li class="nav-item px-2" data-anchor="data-anchor">
          <a class="nav-link" href="/projects">Все проекты</a>
        </li>
        <li class="nav-item px-2" data-anchor="data-anchor">
          <a class="nav-link" href="https://vkvideo.ru/playlist/102738550_20">Видео</a>
        </li>
        <li>
          <!-- <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#testimonial">Люди науки</a></li> -->
          <!-- <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#contact">Спонсоры</a></li> -->
          <!-- <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#contact">Контакты</a></li> -->
        </li>
      </ul>

      <!-- регистрация 
      <form class="ps-lg-5">
          <button class="btn btn-link text-primary fw-bold order-1 order-lg-0" type="button">Sign in</button>
          <button class="btn btn-light shadow-klean order-0" type="submit"><span class="text-gradient fw-bold">Sign Up</span></button>
      </form>
      -->
    </div>
  </div>
</nav>
