<div class="container" style="margin-top: 30px;">
    <div class="row justify-content-lg-between circle-blend-right circle-danger">
        <div class="col-6 col-sm-4 col-lg-auto mb-3">
            <h5 class="text-600 mb-3 fw-bold">В социальных сетях</h5>
            <ul class="list-unstyled mb-md-4 mb-lg-0">
              <li class="mb-2"><a class="text-400 text-decoration-none" href="https://twitter.com/CitizenscienceRw" target="_blank">Twitter</a></li>
              <li class="mb-2"><a class="text-400 text-decoration-none" href="https://t.me/CitizenScienceRu" target="_blank">Новости в Telegram</a></li>
              <li class="mb-2"><a class="text-400 text-decoration-none" href="https://t.me/chat_citizenscience_ru" target="_blank">Чат в Telegram</a></li>
              <li class="mb-2"><a class="text-400 text-decoration-none" href="mailto:contact@citizenscience.ru" target="_blank">Электронная почта</a></li>
              <!-- <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Team</a></li>
              <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Blog</a></li> -->
            </ul>
        </div>

        <!-- <div class="col-6 col-sm-4 col-lg-auto mb-3"> не работает
          <a href="//orphus.ru" id="orphus" target="_blank"><img alt="Система Orphus" src="/img/orphus.gif" border="0" width="240" height="80" /></a>
        </div> -->

        <div class="col-6 col-sm-4 col-lg-auto mb-3">
            <h5 class="text-600 mb-3 fw-bold">Дополнительно</h5>
            <ul class="list-unstyled mb-md-4 mb-lg-0">
              <li class="mb-2"><a class="text-400 text-decoration-none" href="/sponsors">Как стать спонсором</a></li>
              <li class="mb-2"><a class="text-400 text-decoration-none" href="/pressa">Пресса о нас</a></li>
              <!-- <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Help</a></li> -->
              <!-- <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Privacy</a></li> -->
            </ul>
        </div>
    </div>
</div>