<div class="container" style="margin-top: 30px">
  <div class="row justify-content-lg-between circle-blend-right circle-danger">
    <div class="col-6 col-sm-4 col-lg-auto mb-3">
      <h5 class="text-600 mb-3 fw-bold">В социальных сетях</h5>
      <ul class="list-unstyled mb-md-4 mb-lg-0">
        <li class="mb-2">
          <a class="text-400 text-decoration-none" href="https://twitter.com/CitizenscienceRu"
            target="_blank">Twitter</a>
        </li>
        <li  class="mb-2">
          <a class="text-400 text-decoration-none" href="https://c.im/@citizenscience_ru"
            target="_blank">@citizenscience_ru в Mastodon</a>
        </li>
        <li class="mb-2">
          <a class="text-400 text-decoration-none" href="https://t.me/CitizenScienceRu" target="_blank">Новости в
            Telegram</a>
        </li>
        <li class="mb-2">
          <a class="text-400 text-decoration-none" href="https://t.me/chat_citizenscience_ru" target="_blank">Чат в
            Telegram</a>
        </li>
        <li class="mb-2">
          <a class="text-400 text-decoration-none" href="mailto:contact@citizenscience.ru" target="_blank">Электронная
            почта</a>
        </li>
      </ul>
    </div>

    <div class="col-6 col-sm-4 col-lg-auto mb-3">
      <iframe src="https://changeonelife.ru/widget/region/?color=purple" width="730" height="90" style="border:0;"
        allowfullscreen allow="autoplay"></iframe>
    </div>

    <div class="col-6 col-sm-4 col-lg-auto mb-3">
      <h5 class="text-600 mb-3 fw-bold">Дополнительно</h5>
      <ul class="list-unstyled mb-md-4 mb-lg-0">
        <li class="mb-2">
          <b><a class="text-400 text-decoration-none" href="/sponsors">Поддержите нас</a></b>
        </li>
        <li class="mb-2">
          <a class="text-400 text-decoration-none" href="/pressa">Пресса о нас</a>
        </li>
        <li class="mb-2"><br /></li>
        <li class="mb-2">
          <a class="text-400 text-decoration-none" href="https://company.7lf.ru">Сделано в <img
              src="/img/icon.png" /></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script async defer data-website-id="13b01ee7-901d-4bb4-a4aa-ddbfe01a4034" src="https://stat.7lf.me/umami.js"></script>