<section class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-xxl-5 mx-auto text-center py-7">
            <form action="/projects" method="get">
                <input type="text" name="search" autocomplete="on" width="100%" placeholder="Название проекта, тема или что-нибудь" id="simplesearh_input">
                <button type="submit" class="border-button">Искать проект</a>
            </form>
        </div>
    </div>
   
</section>